*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(#002857 40%,#06041b 60%);
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#fundo-branco{
    background-color: rgba(158, 152, 152, 0.199);
    width: 50%;
    height: fit-content;
    border-radius: 20px;
}

#dinheiro-top-left{
    display: flex;
    align-items: start;
    color: white;
    margin: 2rem;
}

#container-principal{
    text-align: center;
    margin: 2rem;
}

#res-num{
    background: #3c80ff41;
    color: #fff;
    padding: 10px;
    border-radius: 20px;
}

#botoes-mais-menos{
    color: rgb(255, 255, 255);
}

#menos, #mais{
    line-height: 1.4rem;
    width: 2rem;
    margin: 0.5rem;
    border-radius: 5px;
    cursor: pointer;
    background-color: #00000050;
    color: rgb(255, 255, 255);
    border: none;
}

#menos:hover,#mais:hover{
    background-color: #000000a4;
}

#numeros-botoes{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;
}

.buttons{
    padding: 1rem;
    border-radius: 100%;
    background-color: #00000050;
    color: rgb(255, 255, 255);
    border: none;
    cursor: pointer;
}

.buttons:hover{
    background-color: #000000a4;
}

#girar{
    padding: 1.1rem 3rem;
    margin-top: 2rem;
    border-radius: 20px;
    background-color: #ffffffcb;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.267);
    border: none;
}

#girar:hover{
    background-color: #0704044b;
    color: white;
    cursor: pointer;
}

#ganhou-perdeu{
    color: rgb(255, 255, 255);
    text-align: center;
    padding: 20px;
}


.perdeu{
    background-color: red;
}

.ganhou{
    background-color: green;
}