*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Login */

#container-login{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-login{
    padding: 0.5rem;
    border-radius: 10px;
    border:none;
}

#botao-login:hover{
    background-color: #0000004b;
    cursor: pointer;
}


/* sistema de estoque */
#container{
    height: 600px;
    width: 1000px;
    border: 1px solid black;
    display: flex;
    align-items: center;
    margin: 0 auto;
    flex-direction: column;
    border-radius: 20px;
    box-shadow: 5px 5px 20px #00000040;
}

#botao-voltar{

    display: flex;
    align-items: flex-end;
}

#novos-produtos{
    width: 50%;
}

th{
    padding: 10px;
    border-bottom: 1px solid #000;
}

.input-produto{
    width: 200px;
    padding: 0.3rem;
    margin: 1em;
    border: none;
    outline: none;
    border-bottom: 1px solid rgb(49, 12, 12);
}

#botao-adicionar{
    padding: 0.3em 1em;
}