*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Login */

#container-login{
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-login{
    padding: 0.5rem;
    border-radius: 10px;
    border:none;
}

#botao-login:hover{
    background-color: #0000004b;
    cursor: pointer;
}


